<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div style="background-color: #f3f4f6">
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  padding-top: 40px;
                  text-align: center;
                "></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="
          margin: 0px auto;
          max-width: 600px;
          border-radius: 8px;
          border: 1px solid #e5e7eb;
          padding: 2px;
          background-color: #ffffff;
        ">
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 30px 30px 0 30px;
                    text-align: center;
                    border-top: 1px solid #e1e1e1;
                    border: 0;
                  ">
                <div class="m_-8630024437946982045mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    "></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_-8630024437946982045mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-top: 24px;
                              padding-bottom: 0;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 24px;
                                text-align: center;
                                color: #111827;
                              ">
                            Reservation sent
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                text-align: center;
                                color: #4b5563;
                              ">
                           Marco Meza from Ato Studio still needs to
                            confirm or reject the reservation.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 15px 0px 0 0px;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_-8630024437946982045mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-bottom: 15px;
                              word-break: break-word;
                            ">
                          <p style="
                                border-top: solid 1px #e1e1e1;
                                font-size: 1px;
                                margin: 0px auto;
                                width: 100%;
                              "></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                  ">
                <div class="m_-8630024437946982045mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="left" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1;
                                text-align: left;
                                color: #101010;
                              ">
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010"><b>
                                  Subject
                                </b></p>
                              <p style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>

                                Free Demo Session: Co-Creation between
                               Marco Meza de Ato Studio and <%= name %>
                              </p>
                              </p>
                            </div>
                            <div>
                              <p style="height: 6px"></p>
                              <div>
                                <p style="color: #101010"><b>When to Meet</b></p>
                                <p style="
                                      color: #101010;
                                      font-weight: 400;
                                      line-height: 0px;
                                      white-space: pre-wrap;
                                    ">
                                <p><%= formattedDate %> at <%= formattedTime %></p>
                                <p style="color: #4b5563">(America/Bogota)</p>
                                </p>
                              </div>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010"><b>Attendees</b></p>
                              <div style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                               Marco Meza de Ato Studio - Organizer
                                <span style="color: #4b5563"><a href="mailto:directordemarketing@atostudio.co" style="color: #4b5563" target="_blank">directordemarketing@atostudio.co</a></span>
                              </div>
                              <div style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                                <%= name %> - Guest
                                <span style="color: #4b5563"><a href="mailto:<%= email %>" style="color: #4b5563" target="_blank"><%= email %></a></span>
                              </div>
                              <p></p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010"><b>Description</b></p>
                              <p style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 24px;
                                    white-space: pre-wrap;
                                  "></p>
                              <p></p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                Schedule your discovery session to understand
                                your brand's needs: We'll discuss your
                                long-term goals and current challenges, using
                                design thinking methodologies to grasp how
                                your business operates.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                We explore different creative areas such as
                                Art Direction and Branding, Service Design and
                                UX/UI, Brand Strategy and Business Innovation
                                Consulting, Marketing, among others.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <em><strong><strong>Identify your brand's needs:</strong></strong></em>
                                We'll pinpoint intervention points and
                                determine your users' true needs.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <em><strong><strong>Create a strategic plan and specialized
                                      proposal for you:</strong></strong></em>
                                Following the discovery session, we'll send
                                you a work proposal that includes the most
                                significant findings we believe are relevant
                                to your brand.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <em><strong><strong>Provide growth and conversion
                                      strategies:</strong></strong></em>
                                We'll help you understand how creative
                                approaches can drive growth for your business.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <em><strong><strong>No commitment, the discovery session is
                                      completely free:</strong></strong></em>
                                This discovery session is an opportunity for
                                us to connect and assess how we can assist
                                you, without pressure or obligation.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                We offer 4 categories of services, depending
                                on your business needs:
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                  ">
                                <br />
                              </p>
                              <ol style="
                                    list-style-type: decimal;
                                    list-style-position: inside;
                                    margin-left: 12px;
                                    margin-bottom: 4px;
                                  ">
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0;
                                    ">
                                  Digital Design, Web, and UX/UI
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0;
                                    ">
                                  Branding, Art Direction, Interior Design and
                                  Spatial Design.
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0;
                                    ">
                                  Business Innovation, Service Design, and CX
                                  Design
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0;
                                    ">
                                  Marketing
                                </li>
                              </ol>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010">Company Name</p>
                              <p style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= company %></p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010">
                                What services are you interested in?
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <% item.map(function(i) { %>
                              <p><%= i %></p>
                              <% }); %>
                              </p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: #101010">
                                How much is your budget?
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= budgets %>

                              </p>
                              </p>
                              <p style="height:15px"></p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  text-align: center;
                ">
              <div class="m_-8630024437946982045mj-column-per-100" style="
                    font-size: 0px;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="
                            font-size: 0px;
                            padding: 10px 25px;
                            padding-top: 32px;
                            word-break: break-word;
                          ">

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>