<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div style="background-color: #f3f4f6">
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  padding-top: 40px;
                  text-align: center;
                "></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="
          margin: 0px auto;
          max-width: 600px;
          border-radius: 8px;
          border: 1px solid #e5e7eb;
          padding: 2px;
          background-color: #ffffff;
        ">
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            margin-top: 20px;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-top: 24px;
                              padding-bottom: 0;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 24px;
                                text-align: center;
                                color: #111827;
                              ">
                            Your event has been scheduled
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                text-align: center;
                                color: #4b5563;
                              ">
                            You and any other attendees have received this
                            information.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 15px 0px 0 0px;
                    text-align: center;
                    border: 0;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0;
                              padding: 10px 25px;
                              padding-bottom: 15px;
                              word-break: break-word;
                            ">
                          <p style="
                                border-top: solid 1px #e1e1e1;
                                font-size: 1px;
                                margin: 0px auto;
                                width: 100%;
                              "></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    direction: ltr;
                    font-size: 0;
                    padding: 0;
                    text-align: center;
                  ">
                <div class="m_2078036772800502365mj-column-per-100" style="
                      font-size: 0;
                      text-align: left;
                      direction: ltr;
                      display: inline-block;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                    <tbody>
                      <tr>
                        <td align="left" style="
                              font-size: 0;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                font-family: Roboto, Helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1;
                                text-align: left;
                                color: #101010;
                              ">
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)"><b>Subject</b></p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                Free Demo Session: Co-Creation between
                               Marco Meza de Ato Studio and <%= name %>
                              </p>
                              </p>
                            </div>
                            <div>
                              <p style="height: 6px"></p>
                              <div>
                                <p style="color: rgb(16, 16, 16)">
                                  <b>When to Meet</b>
                                </p>
                                <p style="
                                      color: rgb(16, 16, 16);
                                      font-weight: 400;
                                      line-height: 0px;
                                      white-space: pre-wrap;
                                    ">
                                <p><%= day %> at <%= formattedTime %></p>
                                <span style="color: rgb(75, 85, 99)">(America/Bogota)</span>
                                </p>
                              </div>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)"><b>Attendees</b></p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                    white-space: pre-wrap;
                                  "></p>
                              <div style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                               Marco Meza de Ato Studio - Organizer
                                <span style="color: rgb(75, 85, 99)"><a href="mailto:directordemarketing@atostudio.co" target="_blank" rel="noopener noreferrer" style="color: rgb(75, 85, 99)">directordemarketing@atostudio.co</a></span>
                              </div>
                              <div style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                                <%=name %> - Guest
                                <span style="color: rgb(75, 85, 99)"><a href="mailto:<%= email %>" target="_blank" rel="noopener noreferrer" style="color: rgb(75, 85, 99)"><%= email %></a></span>
                              </div>
                              <p></p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>Meet</b>
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 200;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= meetLink %></p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>Company Name</b>
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 200;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= company %></p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>What services are you interested in?</b>
                              </p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 200;
                                   line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= item %>
                              </p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>How much is your budget?</b>
                              </p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                   line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= budgets %>
                              </p>

                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: #ffffff;
            background-color: #ffffff;
            margin: 0px auto;
            max-width: 600px;
          ">
        <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="background: #ffffff; background-color: #ffffff; width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-left: 1px solid #e1e1e1;
                    border-right: 1px solid #e1e1e1;
                    direction: ltr;
                    font-size: 0;
                    padding: 15px 0px 0 0px;
                    text-align: center;
                    border: 0;
                  ">
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div style="margin: 0px auto; max-width: 600px">
      <table cellpadding="0" cellspacing="0" role="presentation" align="center" border="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  text-align: center;
                ">
              <div class="m_2078036772800502365mj-column-per-100" style="
                    font-size: 0px;
                    text-align: left;
                    direction: ltr;
                    display: inline-block;
                    vertical-align: top;
                    width: 100%;
                  ">
                <table cellpadding="0" cellspacing="0" role="presentation" border="0" style="vertical-align: top" width="100%">
                  <tbody>
                    <tr>
                      <td align="center" style="
                            font-size: 0px;
                            padding: 10px 25px;
                            padding-top: 32px;
                            word-break: break-word;
                          ">

                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>