<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div style="background-color: rgb(243, 244, 246)">
    <div style="margin: 0px auto; max-width: 600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 40px 0px 0px;
                  text-align: center;
                "></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="
          background-color: rgb(255, 255, 255);
          border: 1px solid rgb(229, 231, 235);
          border-radius: 8px;
          margin: 0px auto;
          max-width: 600px;
          padding: 2px;
        ">
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-width: 0px;
                    border-style: initial;
                    border-top-color: rgb(225, 225, 225);
                    border-right-color: rgb(225, 225, 225);
                    border-bottom-color: initial;
                    border-left-color: rgb(225, 225, 225);
                    border-image: initial;
                    direction: ltr;
                    font-size: 0px;
                    padding: 30px 30px 0px;
                    text-align: center;
                  "></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-width: 0px;
                    border-style: initial;
                    border-top-color: initial;
                    border-right-color: rgb(225, 225, 225);
                    border-bottom-color: initial;
                    border-left-color: rgb(225, 225, 225);
                    border-image: initial;
                    direction: ltr;
                    font-size: 0px;
                    padding: 0px;
                    text-align: center;
                  ">
                <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                      direction: ltr;
                      display: inline-block;
                      font-size: 0px;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0px;
                              padding: 24px 25px 0px;
                              word-break: break-word;
                            ">
                          <div style="
                                color: rgb(17, 24, 39);
                                font-family: roboto, helvetica, sans-serif;
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 24px;
                                text-align: center;
                              ">
                            An event is waiting for your approval
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="
                              font-size: 0px;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                color: rgb(75, 85, 99);
                                font-family: roboto, helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 24px;
                                text-align: center;
                              ">
                            Someone has requested to schedule an event on your
                            calendar.
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-width: 0px;
                    border-style: initial;
                    border-top-color: initial;
                    border-right-color: rgb(225, 225, 225);
                    border-bottom-color: initial;
                    border-left-color: rgb(225, 225, 225);
                    border-image: initial;
                    direction: ltr;
                    font-size: 0px;
                    padding: 15px 0px 0px;
                    text-align: center;
                  ">
                <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                      direction: ltr;
                      display: inline-block;
                      font-size: 0px;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0px;
                              padding: 10px 25px 15px;
                              word-break: break-word;
                            ">
                          <p style="
                                border-top: 1px solid rgb(225, 225, 225);
                                font-size: 1px;
                                margin: 0px auto;
                                width: 100%;
                              "></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    direction: ltr;
                    font-size: 0px;
                    padding: 0px;
                    text-align: center;
                  ">
                <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                      direction: ltr;
                      display: inline-block;
                      font-size: 0px;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                    <tbody>
                      <tr>
                        <td align="left" style="
                              font-size: 0px;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                color: rgb(16, 16, 16);
                                font-family: roboto, helvetica, sans-serif;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 1;
                                text-align: left;
                              ">
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)"><b>Subject</b></p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                Free Demo Session: Co-Creation between
                               Marco Meza de Ato Studio and <%= name %>
                              </p>
                              </p>
                            </div>
                            <div>
                              <p style="height: 6px"></p>
                              <div>
                                <p style="color: rgb(16, 16, 16)">
                                  <b>When to Meet</b>
                                </p>
                                <p style="
                                      color: rgb(16, 16, 16);
                                      font-weight: 400;
                                      line-height: 0px;
                                      white-space: pre-wrap;
                                    ">
                                <p><%= formattedDate %> at <%= formattedTime %></p>
                                <span style="color: rgb(75, 85, 99)">(America/Bogota)</span>
                                </p>
                              </div>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)"><b>Attendees</b></p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                    white-space: pre-wrap;
                                  "></p>
                              <div style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                               Marco Meza de Ato Studio - Organizer
                                <span style="color: rgb(75, 85, 99)"><a href="mailto:directordemarketing@atostudio.co" target="_blank" rel="noopener noreferrer" style="color: rgb(75, 85, 99)">directordemarketing@atostudio.co</a></span>
                              </div>
                              <div style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                  ">
                                <%=name %> - Guest
                                <span style="color: rgb(75, 85, 99)"><a href="mailto:<%= email %>" target="_blank" rel="noopener noreferrer" style="color: rgb(75, 85, 99)"><%= email %></a></span>
                              </div>
                              <p></p>
                            </div>

                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>Description</b>
                              </p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                    line-height: 24px;
                                    white-space: pre-wrap;
                                  "></p>
                              <p></p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                Schedule your discovery session to understand
                                your brand's needs: We'll discuss your
                                long-term goals and current challenges, using
                                design thinking methodologies to grasp how
                                your business operates.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                We explore different creative areas such as
                                Art Direction and Branding, Service Design and
                                UX/UI, Brand Strategy and Business Innovation
                                Consulting, Marketing, among others.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <em><strong>Identify your brand's needs:</strong></em>
                                We'll pinpoint intervention points and
                                determine your users' true needs.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <em><strong>Create a strategic plan and specialized
                                    proposal for you:</strong></em>
                                Following the discovery session, we'll send
                                you a work proposal that includes the most
                                significant findings we believe are relevant
                                to your brand.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <em><strong>Provide growth and conversion
                                    strategies:</strong></em>
                                We'll help you understand how creative
                                approaches can drive growth for your business.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <em><strong>No commitment, the discovery session is
                                    completely free:</strong></em>
                                This discovery session is an opportunity for
                                us to connect and assess how we can assist
                                you, without pressure or obligation.
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                We offer 4 categories of services, depending
                                on your business needs:
                              </p>
                              <p style="
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0px;
                                  ">
                                <br />
                              </p>
                              <ol style="
                                    list-style-position: inside;
                                    list-style-type: decimal;
                                    margin-bottom: 4px;
                                    margin-left: 12px;
                                  ">
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0px;
                                    ">
                                  Digital Design, Web, and UX/UI
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0px;
                                    ">
                                  Branding, Art Direction, Interior Design and
                                  Spatial Design.
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0px;
                                    ">
                                  Business Innovation, Service Design, and CX
                                  Design
                                </li>
                                <li style="
                                      font-weight: 400;
                                      line-height: 24px;
                                      margin: 0px;
                                    ">
                                  Marketing
                                </li>
                              </ol>
                              <p></p>
                              <p></p>
                            </div>

                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>Company Name</b>
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 200;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= company %></p>
                              </p>
                            </div>
                            
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>Phone</b>
                              </p>
                              <p style="
                                    color: #101010;
                                    font-weight: 200;
                                    line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= phone %></p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>What services are you interested in?</b>
                              </p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 200;
                                   line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <% item.map(function(i) { %>
                              <p><%= i %></p>
                              <% }); %>
                              </p>
                              </p>
                            </div>
                            <p style="height: 6px"></p>
                            <div>
                              <p style="color: rgb(16, 16, 16)">
                                <b>How much is your budget?</b>
                              </p>
                              <p style="
                                    color: rgb(16, 16, 16);
                                    font-weight: 400;
                                   line-height: 0px;
                                    white-space: pre-wrap;
                                  ">
                              <p>
                                <%= budgets %>
                              </p>

                              </p>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    border-width: 0px;
                    border-style: initial;
                    border-top-color: initial;
                    border-right-color: rgb(225, 225, 225);
                    border-bottom-color: initial;
                    border-left-color: rgb(225, 225, 225);
                    border-image: initial;
                    direction: ltr;
                    font-size: 0px;
                    padding: 15px 0px 0px;
                    text-align: center;
                  ">
                <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                      direction: ltr;
                      display: inline-block;
                      font-size: 0px;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0px;
                              padding: 10px 25px 15px;
                              word-break: break-word;
                            ">
                          <p style="
                                border-top: 1px solid rgb(225, 225, 225);
                                font-size: 1px;
                                margin: 0px auto;
                                width: 100%;
                              "></p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="
            background: rgb(255, 255, 255);
            margin: 0px auto;
            max-width: 600px;
          ">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background: rgb(255, 255, 255); width: 100%">
          <tbody>
            <tr>
              <td style="
                    direction: ltr;
                    font-size: 0px;
                    padding: 0px;
                    text-align: center;
                  ">
                <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                      direction: ltr;
                      display: inline-block;
                      font-size: 0px;
                      text-align: left;
                      vertical-align: top;
                      width: 100%;
                    ">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                    <tbody>
                      <tr>
                        <td align="center" style="
                              font-size: 0px;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <table>
                            <tbody>
                              <tr>
                                <td align="center" valign="middle" style="border: medium; border-radius: 3px">
                                  <p style="
                                        background: #0c0c0c;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 6px;
                                        box-sizing: border-box;
                                        color: rgb(255, 255, 255);
                                        font-family: roboto, helvetica,
                                          sans-serif;
                                        font-size: 1rem;
                                        font-weight: bold;
                                        height: 3.25rem;
                                        line-height: 1rem;
                                        margin: 0px;
                                        padding: 0.625rem 2rem 0.625rem 2rem;
                                        text-decoration: none;
                                        text-transform: none;
                                        text-align: center;
                                      ">
                                    <a href="https://atostudio.co/api/confirm-appointment?name=<%= name %>&email=<%= email %>&company=<%= company %>&item=<%= item %>&budgets=<%= budgets %>&day=<%= formattedDate %>&time=<%= time %>" rel="noopener noreferrer" target="_blank" style="
                                            color: rgb(255, 255, 255);
                                            margin: auto;
                                            text-decoration: none;
                                        ">Confirm</a>


                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td align="left" style="
                              font-size: 0px;
                              padding: 10px 25px;
                              word-break: break-word;
                            ">
                          <div style="
                                color: rgb(0, 0, 0);
                                font-family: roboto, helvetica, sans-serif;
                                font-size: 13px;
                                line-height: 1;
                                text-align: left;
                              "></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div style="margin: 0px auto; max-width: 600px">
      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tbody>
          <tr>
            <td style="
                  direction: ltr;
                  font-size: 0px;
                  padding: 0px;
                  text-align: center;
                ">
              <div class="85d0017182da8d98562b9b2f27cb0e14b6089a9c68748813m_5106687794466300967mj-column-per-100" style="
                    direction: ltr;
                    display: inline-block;
                    font-size: 0px;
                    text-align: left;
                    vertical-align: top;
                    width: 100%;
                  ">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="vertical-align: top">
                  <tbody>
                    <tr>
                      <td align="center" style="
                            font-size: 0px;
                            padding: 32px 25px 10px;
                            word-break: break-word;
                          ">
                        <table border="0" cellpadding="0" cellspacing="0" style="
                              border-collapse: collapse;
                              border-spacing: 0px;
                            ">
                          <tbody>
                            <tr>
                              <td style="width: 89px">

                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>